<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.system.dict.data.mapper.SysDictDataMapper">

    <resultMap id="SysDictDataResultMap" type="com.oa.system.dict.data.entity.SysDictData">
        <id column="id" property="id"/>
        <result column="dict_type" property="dictType"/>
        <result column="dict_label" property="dictLabel"/>
        <result column="dict_value" property="dictValue"/>
        <result column="dict_sort" property="dictSort"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <resultMap id="DictDataListVOMap" type="com.oa.system.dict.data.dto.DictDataListVO">
        <id property="id" column="id"/>
        <result property="dictType" column="dict_type"/>
        <result property="dictLabel" column="dict_label"/>
        <result property="dictValue" column="dict_value"/>
        <result property="dictSort" column="dict_sort"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectById" resultMap="SysDictDataResultMap">
        SELECT * FROM sys_dict_data WHERE id = #{id} AND deleted = 0
    </select>

    <select id="countDictData" resultType="java.lang.Long">
        SELECT COUNT(*) FROM sys_dict_data WHERE deleted = 0
        <if test="dictType != null and dictType != ''">
            AND dict_type = #{dictType}
        </if>
        <if test="dictLabel != null and dictLabel != ''">
            AND dict_label LIKE CONCAT('%', #{dictLabel}, '%')
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

    <select id="selectDictDataList" resultMap="DictDataListVOMap">
        SELECT id, dict_type, dict_label, dict_value, dict_sort, remark, status, create_time
        FROM sys_dict_data WHERE deleted = 0
        <if test="dictType != null and dictType != ''">
            AND dict_type = #{dictType}
        </if>
        <if test="dictLabel != null and dictLabel != ''">
            AND dict_label LIKE CONCAT('%', #{dictLabel}, '%')
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        ORDER BY dict_sort ASC, create_time DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectByDictType" resultMap="DictDataListVOMap">
        SELECT id, dict_type, dict_label, dict_value, dict_sort, remark, status, create_time
        FROM sys_dict_data WHERE dict_type = #{dictType} AND deleted = 0 AND status = 1
        ORDER BY dict_sort ASC
    </select>

    <insert id="insert" parameterType="com.oa.system.dict.data.entity.SysDictData">
        INSERT INTO sys_dict_data (dict_type, dict_label, dict_value, dict_sort, remark, status)
        VALUES (#{dictType}, #{dictLabel}, #{dictValue}, #{dictSort}, #{remark}, #{status})
    </insert>

    <update id="updateById">
        UPDATE sys_dict_data
        SET dict_type = #{dictType}, dict_label = #{dictLabel}, dict_value = #{dictValue},
            dict_sort = #{dictSort}, remark = #{remark}, status = #{status}
        WHERE id = #{id}
    </update>

    <update id="deleteById">
        UPDATE sys_dict_data SET deleted = 1 WHERE id = #{id}
    </update>

</mapper>